@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Roboto', Proxima Nova, system-ui, sans-serif;
        box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
}

@layer components {
    .tab-item {
        @apply flex
        w-44
        grow
        cursor-pointer
        items-center
        border-b-4
        border-b-pink-50
        align-middle
        transition-all
        hover:border-b-secondary
        hover:bg-secondary-light;
    }

    .tab-item__active {
        @apply flex
        w-44
        grow
        cursor-pointer
        items-center
        border-b-4
        border-b-primary
        bg-secondary-light
        align-middle
        transition-all;
    }

    .pagination-btn {
        @apply flex
        h-8
        w-8
        items-center
        justify-center
        px-2
        py-2
        hover:cursor-pointer
        hover:bg-secondary
        hover:text-white;
    }

    .pagination-btn__active {
        @apply flex
        h-8
        w-8
        items-center
        justify-center
        bg-primary
        px-2
        py-2
        text-white
        hover:cursor-pointer;
    }
}
