@font-face {
    font-family: 'SF UI Display';
    font-weight: 700;
    src: url('./fonts/sf-ui-display/sf-ui-display-bold.otf') format('opentype');
}

@font-face {
    font-family: 'SF UI Display';
    font-weight: 600;
    src: url('./fonts/sf-ui-display/sf-ui-display-semibold.otf')
        format('opentype');
}

@font-face {
    font-family: 'SF UI Display';
    font-weight: 500;
    src: url('./fonts/sf-ui-display/sf-ui-display-medium.otf')
        format('opentype');
}

@font-face {
    font-family: 'SF UI Display';
    font-weight: 400;
    src: url('./fonts/sf-ui-display/sf-ui-display-light.otf') format('opentype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    src: url('./fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    src: url('./fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-weight: 400;
    src: url('./fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'SF UI Display', Proxima Nova, system-ui, sans-serif;
        box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
}

@layer components {
    .tab-item {
        @apply flex
        w-44
        grow
        cursor-pointer
        items-center
        border-b-4
        border-b-pink-50
        align-middle
        transition-all
        hover:border-b-secondary
        hover:bg-secondary-light;
    }

    .tab-item__active {
        @apply flex
        w-44
        grow
        cursor-pointer
        items-center
        border-b-4
        border-b-primary
        bg-secondary-light
        align-middle
        transition-all;
    }

    .pagination-btn {
        @apply flex
        h-8
        w-8
        items-center
        justify-center
        px-2
        py-2
        hover:cursor-pointer
        hover:bg-secondary
        hover:text-white;
    }

    .pagination-btn__active {
        @apply flex
        h-8
        w-8
        items-center
        justify-center
        bg-primary
        px-2
        py-2
        text-white
        hover:cursor-pointer;
    }
}
